<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue.js</title>
	
	<link rel="stylesheet" href="style.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

	<h1>La Instancia de Vue</h1>

	<div id="vm">
		{{ a }}
		<br>
		<button v-on:click="a = 'Hola cambie'">Cambiar</button>
	</div>

	<div id="freeze">
		<h2>Object.freeze</h2>
		{{ foo }}
		<br>
		<button v-on:click="foo = 'baz'">Cambiar</button>
	</div>


	<div id="metodo">
		<h2>Metodos y propiedades</h2>
		{{ a }}
	</div>


	<h1>Introducción</h1>
	<div id="app">
		{{ message }}
	</div>

	<div id="app-2">
		<span v-bind:title="message">Pasa el mouse por aqui y te dire algo</span>
	</div>

	<div id="app-3">
		<span v-if="seen">Ahora me ves</span>
	</div>

	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>

	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage" >Mensaje en Reverso</button>
	</div>


	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>

	<div id="app-7">
		<ol>
			<todo-item
				v-for="item in groseryList"
				v-bind:todo="item"
				v-bind-key="item.id"
			></todo-item>
		</ol>		
	</div>
	
	<script src="index.js"></script>

	<style>
		div{
			margin: 50px 20px;
		}
	</style>
</body>
</html>